{% extends 'base.html' %}

{% block content %}

<p></p>


<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 32rem;">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                In-Game Abilities:
              </div>
              <div class="col-sm">
                Stats:
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 32rem;">
        <div class="card-body">
          <div class="container">
            <div class="row">
              Click the image to go to the skin's page:
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 32rem;">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <p>
                  Primary Fire: Biotic Rifle
                </p>
                <p>
                  Secondary Fire: Scope
                </p>
                <p>
                  Ability 1: Sleep Dart
                </p>
                <p>
                  Ability 2: Biotic Grenade
                </p>
                <p>
                  Ultimate: Nano Boost
                </p>
              </div>
              <div class="col-sm">
                <p>
                  Health: 200
                </p>
                <p>
                  Damage: 70
                </p>
                <p>
                  Heal: 70
                </p>
                <p>
                  Shots per Second: 1.25
                </p>
                <p>
                  Falloff Range: None
                </p>
                <p>
                  Ammo: 12
                </p>
                <p>
                  Reload Time: 1.5 seconds
                </p>
              </div>
            </div>
            <hr>
            <p>
              Strengths:
            </p>

            Ana is a mid to long-range Support sniper, capable of healing at any range while also maintaining a fair
            level of damage output. Her Biotic Grenade lets her amplify healing effects from not only her own healing
            darts, but also from other Supports and environmental healing, such as Payloads and Health packs. She has a
            sidearm which will fire a Sleep Dart, which can render the enemy who's hit with it temporarily useless
            unless someone wakes them up. Nano Boost is a supportive ultimate that is used to provide strong buffs to an
            ally, allowing them to deal more damage while taking less damage from the enemy. She can also be an
            anti-healer, as her Biotic Grenade will prevent enemies hit by the blast from getting healed in any way,
            making her an outstanding support.
            <hr>
            <p>
              Weaknesses:
            </p>
            Ana lacks any means of advanced mobility and only has her sidearm to protect herself, making it easy for her
            to be outflanked by flankers as well as other mobile heroes.
            </p>
            <hr>
            <p>
              Strategy:
            </p>
            <p>
              While Ana has reasonable to outstanding damage capabilities like other damage-dealers, she is unable to
              deal any critical shots and suffers from low mobility. You must focus on healing your allies rather than
              playing like DPS-focused heroes; you can't act like them well on your own.
            </p>
            <p>
              Biotic Grenade is a strong counter to all healing effects, such as Roadhog's Take a Breather, Zenyatta's
              Transcendence, or even an opposing Ana's Biotic Grenade. You can throw the grenade directly at the enemy
              and instruct your teammates to gang up on the affected target, as they can't be healed.
            </p>
            <p>Ana has a combo on her own with Sleep Dart:
              Sleep Dart > Biotic Rifle shot > Biotic Grenade > Quick Melee. Combo damage is 165, enough to take out a
              flanking Tracer.
            </p>
            <p>A target under the effect of Sleep Dart will be rendered useless and unable to make any actions. If your
              combo can't finish the target, communicate with your team to do so. Reinhardt's Charge is a great choice
              to finish the target if he doesn't need to cover your team with barrier at that time.
            </p>
            <p> Don't let the other teammates interfere in your line-of-sight while activating Nano Boost on the target.
              You have to communicate with your teammates to whom you will give the ultimate and always have space in
              your line-of-sight, so you can avoid giving Nano Boost to a wrong target that can't make any use of it,
              such as Lúcio or Mercy.
            </p>
            <p>
              The common targets for your Nano Boost should be damage dealers rather than tanks. While boosting tanks
              will give them a better chance of surviving and greatly increase their damage, you will force them to move
              out of their position to attack the enemy, in order to not waste the damage buff gains from Nano Boost.
              Nano Boost works best when paired with damage-dealing ultimates like Soldier: 76's Tactical Visor or
              Reaper's Death Blossom.
            </p>
            <p>
              Even though the Nano Boosted-hero will take 50% less damage, the affected hero can still die if the
              enemies focus on them. Try to heal the boosted-hero continuously, so that they won't die in the most
              important engagement.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 32rem;">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <style>
                  .col-sm img {
                    height: 180px;
                    width: 90px;
                  }
                </style>

                <a href='bastet' title='Bastet'><img src="https://i.ibb.co/4pKzp2V/front.png" alt="front"></a>
                Bastet
                <p></p>

                <a href='cabana' title='Cabana'><img src="https://i.ibb.co/z4FV0qN/front.png" alt="front"></a>
                Cabana
                <p></p>

                <a href='CaptainAmari' title='CaptainAmari'><img src="https://i.ibb.co/hfBtRNJ/front.png"
                    alt="front"></a>
                Captain Amari
                <p></p>

                <a href='citrine' title='Citrine'><img src="https://i.ibb.co/RB1TyP8/front.png" alt="front"></a>
                Citrine
                <p></p>

                <a href='AnaClassic' title='AnaClassic'><img src="https://i.ibb.co/X8wWCgb/front.png" alt="front"></a>
                Classic
                <p></p>

                <a href='Corsair' title='Corsair'><img src="https://i.ibb.co/5YmYPS9/front.png" alt="front"></a>
                Corsair
                <p></p>

                <a href='Cybermedic' title='Cybermedic'><img src="https://i.ibb.co/SwypcZM/front.png" alt="front"></a>
                Cybermedic
                <p></p>

                <a href='Garnet' title='Garnet'><img src="https://i.ibb.co/8xfKYLc/front.png" alt="front"></a>
                Garnet
                <p></p>

                <a href='Ghoul' title='Ghoul'><img src="https://i.ibb.co/gRR3npP/front.png" alt="front"></a>
                Ghoul
                <p></p>

                <a href='Gingerbread' title='Gingerbread'><img src="https://i.ibb.co/W2tPzjg/front.png" alt="front"></a>
                Gingerbread
                <p></p>

                <a href='Horus' title='Horus'><img src="https://i.ibb.co/SsvMLCp/front.png" alt="front"></a>
                Horus
                <p></p>

              </div>
              <div class="col-sm">

                <a href='Merciful' title='Merciful'><img src="https://i.ibb.co/XCxcDQw/front.png" alt="front"></a>
                Merciful
                <p></p>

                <a href='Peridot' title='Peridot'><img src="https://i.ibb.co/dtTJqSf/front.png" alt="front"></a>
                Peridot
                <p></p>

                <a href='Pharaoh' title='Pharaoh'><img src="https://i.ibb.co/DbTMg88/front.png" alt="front"></a>
                Pharaoh
                <p></p>

                <a href='Shrike' title='Shrike'><img src="https://i.ibb.co/sJCgvPt/front.png" alt="front"></a>
                Shrike
                <p></p>

                <a href='Sniper' title='Sniper'><img src="https://i.ibb.co/2KN38X5/front.png" alt="front"></a>
                Sniper
                <p></p>

                <a href='SnowOwl' title='SnowOwl'><img src="https://i.ibb.co/q96W223/front.png" alt="front"></a>
                Snow Owl
                <p></p>

                <a href='Tal' title='Tal'><img src="https://i.ibb.co/3NN9Xvf/front.png" alt="front"></a>
                Tal
                <p></p>

                <a href='Turquoise' title='Tal'><img src="https://i.ibb.co/JdRWB3H/front.png" alt="front"></a>
                Turquoise
                <p></p>

                <a href='Wadjet' title='Wadjet'><img src="https://i.ibb.co/JdRWB3H/front.png" alt="front"></a>
                Wadjet
                <p></p>

                <a href='Wasteland' title='Wasteland'><img src="https://i.ibb.co/TB8XHqv/front.png" alt="front"></a>
                Wasteland

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="card" style="width: 70rem;">
  <div class="card-body">

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <p>
            One of the founding members of Overwatch, Ana uses her skills and expertise to defend her home and the
            people she cares for. Hailing from a long line of decorated soldiers, Ana inspired confidence and loyalty in
            her colleagues[3] and endowed her daughter, Fareeha Amari — Pharah, with an intense sense of duty and
            honor. Like her daughter, she bore a tattoo of an Eye of Horus as a symbol of protection. Likewise, her
            callsign in the Egyptian Military during the Omnic Crisis was "Horus."
          </p>
          <p>
            Ana is regarded as one of the world's deadliest snipers. She originally used a Kinamura rifle, upon which
            she added a notch for every life she took. Each life weighed heavily on her conscience, and while some
            snipers preferred to wound targets, in order to lure out more potential targets, she preferred to perform
            clean kills, disliking causing needless suffering. Her right eye, originally cybernetic, made her vision six
            times greater than normal, to the extent where she rarely even needed to use the scope. While procedures
            exist that could repair her cybernetic eye, she feels comfortable with her eyepatch, seeing it as a reminder
            of who she is now. She continues to experience phantom pain from the eye injury.
          </p>
        </div>
        <div class="col-sm">
          https://bnetcmsus-a.akamaihd.net/cms/gallery/rk/RK25WEUAJIPO1546649730105.pdf
        </div>
      </div>
    </div>

  </div>
</div>

<br>


<style>
  .card {
    border: 5px solid black;
  }
</style>

{% endblock content %}