{% extends 'base.html' %}

{% block content %}

<p></p>


<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 32rem;">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                In-Game Abilities:
              </div>
              <div class="col-sm">
                Stats:
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 32rem;">
        <div class="card-body">
          <div class="container">
            <div class="row">
              Click the image to go to the skin's page:
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 32rem;">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <p>
                  Primary Fire: Peacekeeper
                </p>
                <p>
                  Secondary Fire: Fan the Hammer
                </p>
                <p>
                  Ability 1: Combat Roll
                </p>
                <p>
                  Ability 2: Flashbang
                </p>
                <p>
                  Ultimate: Deadeye
                </p>
              </div>
              <div class="col-sm">
                <p>
                  Health: 225
                </p>
                <p>
                  Damage: 35-70
                </p>
                <p>
                  Shots per Second: 2
                </p>
                <p>
                  Falloff Range: 20-40 meters
                </p>
                <p>
                  Ammo: 6
                </p>
                <p>
                  Reload Time: 1.5 seconds
                </p>
              </div>
            </div>
            <hr>
            <p>
              Strengths:
            </p>

            As befits a gunslinger, McCree is one of the game's best duelists. He is capable of killing almost anyone
            he gets up close to with blinding speed by stunning them with Flashbang and unloading his Peacekeeper into
            them. The accurate hitscan nature of his primary weapon also makes him suitable for fighting mobile
            targets like Genji and Pharah at medium range. Combat Roll not only provides him a quick mobility to
            escape, but also fully reloads at the same time which is what his playstyle really needs. Deadeye can be
            used to quick-kill on non-tank heroes within his line of sight or zoning away the opponents due to how the
            guarantee kill shot.
            <hr>
            <p>
              Weaknesses:
            </p>

            While having a powerful gun, McCree's abilities are considered sub-par as a trade-off to his insane damage
            output. His low mobility means that he has no conventional routes to get up close to his opponents, making
            it easy to outflank him and kill him before he has a chance to fire back. Flashbang is only his way to
            protect himself in close-combat, missing the target will likely to force him to fight or escape from the
            death. His low ammunition means that missing one shot poses a far greater loss than those of other heroes.
            Like other hit scan heroes (excluding Widowmaker) McCree's damage falls off to half at max range, however
            the Peacekeeper's damage starts falling off earlier than other hit scan heroes, making him a poorer choice
            for static defense at long range.
            </p>
            <hr>
            <p>
              Strategy:
            </p>
            <p>
              While Ana has reasonable to outstanding damage capabilities like other damage-dealers, she is unable to
              deal any critical shots and suffers from low mobility. You must focus on healing your allies rather than
              playing like DPS-focused heroes; you can't act like them well on your own.
            </p>
            <p>
              Stick to using the Peacekeeper's primary fire at anything other than short range. Aim for headshots if
              your enemy is moving in a predictable way, as they deal a large amount of damage.
              Flashbang does interrupt some abilities and ultimates, so it is encouraged to use it against ultimates
              like Reaper's Death Blossom or Roadhog's Whole Hog.
            </p>
            <p>It might be a better choice to land a single headshot on a stunned target rather than Fanning the Hammer.
              Doing so eliminates the need to reload afterwards, potentially proving useful if further engagements
              immediately present themselves.
            </p>
            <p>Use Combat Roll to retreat and return fire rather than rolling forward to fight back. Even if you can
              fully reload without a reloading animation, you will lose your only method of escape if you encounter an
              engagement against your favor.
            </p>
            <p> Minimize the risk of enemy fire by peeking around corners when no friendly Barrier is available. Doing
              so
              can maintain a compromised, yet safer line of sight while mitigating damage from enemies.
            </p>
            <p>
              Try to gain vertical height before using Deadeye, as tdoing so permits a greater field of vision over
              targets hiding behind cover. Be aware that McCree is extremely easy to kill while using Deadeye, and that
              enemies like Widowmaker or Soldier: 76 can burst McCree down long before he has the chance to confirm his
              targets.
            </p>
            <p>
              Deadeye can be used in one of two ways: to clear out an area by the very threat of the ability, or as a
              way of assassinating mobile priority targets. The "standard" combination of Mercy and Pharah flying
              through the air are especially vulnerable to being killed by Deadeye, as it takes little time for McCree
              to line up a killing shot for both of them.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 32rem;">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <style>
                  .col-sm img {
                    height: 165px;
                    width: 90px;
                  }
                </style>

                <a href='American' title='American'><img src="https://i.ibb.co/tLGnxz5/front.png" alt="front"></a>
                American
                <p></p>

                <a href='Blackwatch' title='Blackwatch'><img src="https://i.ibb.co/cD5K7H7/front.png" alt="front"></a>
                Blackwatch
                <p></p>

                <a href='McCreeClassic' title='Classic'><img src="https://i.ibb.co/RHrcQB1/front.png" alt="front"></a>
                Classic
                <p></p>

                <a href='Deadlock' title='Deadlock'><img src="https://i.ibb.co/GPG8rWs/front.png" alt="front"></a>
                Deadlock
                <p></p>

                <a href='Ebony' title='Ebony'><img src="https://i.ibb.co/pR3Yshc/front.png" alt="front"></a>
                Ebony
                <p></p>

                <a href='Gambler' title='Gambler'><img src="https://i.ibb.co/NshmMYJ/front.png" alt="front"></a>
                Gambler
                <p></p>

                <a href='Lake' title='Lake'><img src="https://i.ibb.co/NpFcTJN/front.png" alt="front"></a>
                Lake
                <p></p>

                <a href='Lifeguard' title='Lifeguard'><img src="https://i.ibb.co/Nsm7ZR6/front.png" alt="front"></a>
                Lifeguard
                <p></p>

                <a href='Magistrate' title='Magistrate'><img src="https://i.ibb.co/DQZk9y7/front.png" alt="front"></a>
                Magistrate
                <p></p>

                <a href='MaskedMan' title='MaskedMan'><img src="https://i.ibb.co/FJw22Mp/front.png" alt="front"></a>
                Masked Man
                <p></p>

                <a href='MountainMan' title='MountainMan'><img src="https://i.ibb.co/Bf78SqX/front.png" alt="front"></a>
                Mountain Man
                <p></p>

                <a href='MysteryMan' title='MysteryMan'><img src="https://i.ibb.co/jkJxhxx/front.png" alt="front"></a>
                Mystery Man
                <p></p>

              </div>
              <div class="col-sm">

                <a href='OnTheRange' title='OnTheRange'><img src="https://i.ibb.co/jZdWtvY/front.png" alt="front"></a>
                On the Range
                <p></p>

                <a href='Riverboat' title='Riverboat'><img src="https://i.ibb.co/5W10m2h/front.png" alt="front"></a>
                Riverboat
                <p></p>

                <a href='Royal' title='Royal'><img src="https://i.ibb.co/gznb3x0/front.png" alt="front"></a>
                Royal
                <p></p>

                <a href='Sage' title='Sage'><img src="https://i.ibb.co/PTXFxwq/front.png" alt="front"></a>
                Sage
                <p></p>

                <a href='Scrooge' title='Scrooge'><img src="https://i.ibb.co/3Chv6xS/front.png" alt="front"></a>
                Scrooge
                <p></p>

                <a href='Sherlock' title='Sherlock'><img src="https://i.ibb.co/0JMvXqD/front.png" alt="front"></a>
                Sherlock
                <p></p>

                <a href='Undead' title='Undead'><img src="https://i.ibb.co/jWBXKRn/front.png" alt="front"></a>
                Undead
                <p></p>

                <a href='VanHelsing' title='VanHelsing'><img src="https://i.ibb.co/3WV8cgp/front.png" alt="front"></a>
                Van Helsing
                <p></p>

                <a href='Vigilante' title='Vigilante'><img src="https://i.ibb.co/4s0DY69/front.png" alt="front"></a>
                Vigilante

                <p></p>

                <a href='Wheat' title='Wheat'><img src="https://i.ibb.co/SN5RHd1/front.png" alt="front"></a>
                Wheat

                <p></p>

                <a href='WhiteHat' title='WhiteHat'><img src="https://i.ibb.co/TkkrHxn/front.png" alt="front"></a>
                White Hat

                <p></p>

                <a href='Xiake' title='Xiake'><img src="https://i.ibb.co/D1pC49N/front.png" alt="front"></a>
                Xiake

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="card" style="width: 70rem;">
  <div class="card-body">

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <p>
            Lore and Story:
          </p>
          <p>
            After the recall order initiated by Winston, McCree learned that Echo was being transported from Hurlburt
            Field to Davis–Monthan Air Force Base aboard a military freight train, along with weaponry. Having
            anonymously tipped off the Deadlock Gang that a train full of military ordnance would be crossing Route 66
            at 11:55 AM, knowing Ashe wouldn't be able to resist following up on it McCree relaxed with a slice of
            apple pie and a cup of coffee at the nearby Panorama Diner while waiting for the heist to go down.
          </p>
          <p>
            Sure enough, the train was passing by overhead right on time when it was derailed by an explosion,
            destroying the
            bridge and sending the train cars crashing down onto the road. Leaving payment for his meal, McCree walked
            out into the cloud of dust to greet Ashe. Their reunion was cordial, if tense. At Ashe's suspicion that his
            presence was not a coincidence, McCree confirmed that he had sent the tip, and all he wanted was the
            specific crate that had just been loaded onto their hover dolly—in return, the gang was free to help
            themselves to everything else. Opening the crate and seeing what was inside, however, to McCree's
            disappointment Ashe decided it was very much her business, especially when he refused to tell her what the
            device was. What followed was a standoff, and come to the stroke of noon, a gunfight.
          </p>
        </div>
        <div class="col-sm">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/PKYVvPNhRR0" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>

  </div>
</div>

<br>

<style>
  .card {
    border: 5px solid black;
  }
</style>

{% endblock content %}