{% extends 'base.html' %}

{% block content %}

<p></p>


<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 32rem;">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                title1
              </div>
              <div class="col-sm">
                title2
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 32rem;">
        <div class="card-body">
          <div class="container">
            <div class="row">
              Click the image to go to the skin's page:
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 32rem;">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                anim id
                est laborum."
              </div>
              <div class="col-sm">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                anim id
                est laborum."
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 32rem;">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <style>
                  .col-sm img {
                    height: 165px;
                    width: 90px;
                  }
                </style>

                <a href='American' title='American'><img src="https://i.ibb.co/tLGnxz5/front.png" alt="front"></a>
                American
                <p></p>

                <a href='Blackwatch' title='Blackwatch'><img src="https://i.ibb.co/cD5K7H7/front.png" alt="front"></a>
                Blackwatch
                <p></p>

                <a href='McCreeClassic' title='Classic'><img src="https://i.ibb.co/RHrcQB1/front.png" alt="front"></a>
                Classic
                <p></p>

                <a href='Deadlock' title='Deadlock'><img src="https://i.ibb.co/GPG8rWs/front.png" alt="front"></a>
                Deadlock
                <p></p>

                <a href='Ebony' title='Ebony'><img src="https://i.ibb.co/pR3Yshc/front.png" alt="front"></a>
                Ebony
                <p></p>

                <a href='Gambler' title='Gambler'><img src="https://i.ibb.co/NshmMYJ/front.png" alt="front"></a>
                Gambler
                <p></p>

                <a href='Lake' title='Lake'><img src="https://i.ibb.co/NpFcTJN/front.png" alt="front"></a>
                Lake
                <p></p>

                <a href='Lifeguard' title='Lifeguard'><img src="https://i.ibb.co/Nsm7ZR6/front.png" alt="front"></a>
                Lifeguard
                <p></p>

                <a href='Magistrate' title='Magistrate'><img src="https://i.ibb.co/DQZk9y7/front.png" alt="front"></a>
                Magistrate
                <p></p>

                <a href='MaskedMan' title='MaskedMan'><img src="https://i.ibb.co/FJw22Mp/front.png" alt="front"></a>
                Masked Man
                <p></p>

                <a href='MountainMan' title='MountainMan'><img src="https://i.ibb.co/Bf78SqX/front.png" alt="front"></a>
                Mountain Man
                <p></p>

                <a href='MysteryMan' title='MysteryMan'><img src="https://i.ibb.co/jkJxhxx/front.png" alt="front"></a>
                Mystery Man
                <p></p>

            </div>
            <div class="col-sm">

                <a href='OnTheRange' title='OnTheRange'><img src="https://i.ibb.co/jZdWtvY/front.png" alt="front"></a>
                On the Range
                <p></p>

                <a href='Riverboat' title='Riverboat'><img src="https://i.ibb.co/5W10m2h/front.png" alt="front"></a>
                Riverboat
                <p></p>

                <a href='Royal' title='Royal'><img src="https://i.ibb.co/gznb3x0/front.png" alt="front"></a>
                Royal
                <p></p>

                <a href='Sage' title='Sage'><img src="https://i.ibb.co/PTXFxwq/front.png" alt="front"></a>
                Sage
                <p></p>

                <a href='Scrooge' title='Scrooge'><img src="https://i.ibb.co/3Chv6xS/front.png" alt="front"></a>
                Scrooge
                <p></p>

                <a href='Sherlock' title='Sherlock'><img src="https://i.ibb.co/0JMvXqD/front.png" alt="front"></a>
                Sherlock
                <p></p>

                <a href='Undead' title='Undead'><img src="https://i.ibb.co/jWBXKRn/front.png" alt="front"></a>
                Undead
                <p></p>

                <a href='VanHelsing' title='VanHelsing'><img src="https://i.ibb.co/3WV8cgp/front.png" alt="front"></a>
                Van Helsing
                <p></p>

                <a href='Vigilante' title='Vigilante'><img src="https://i.ibb.co/4s0DY69/front.png" alt="front"></a>
                Vigilante

                <p></p>

                <a href='Wheat' title='Wheat'><img src="https://i.ibb.co/SN5RHd1/front.png" alt="front"></a>
                Wheat

                <p></p>

                <a href='WhiteHat' title='WhiteHat'><img src="https://i.ibb.co/TkkrHxn/front.png" alt="front"></a>
                White Hat

                <p></p>

                <a href='Xiake' title='Xiake'><img src="https://i.ibb.co/D1pC49N/front.png" alt="front"></a>
                Xiake

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="card" style="width: 70rem;">
  <div class="card-body">

    <div class="container">
      <div class="row">
        <div class="col-sm">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum."
        </div>
        <div class="col-sm">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/PKYVvPNhRR0" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
      </div>
    </div>

  </div>
</div>

<br>

{% endblock content %}