{% extends 'base.html' %}

{% block content %}

<p></p>


<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 32rem;">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                In-Game Abilities:
                              </div>
                              <div class="col-sm">
                                Stats:
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 32rem;">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            Click the image to go to the skin's page:
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 32rem;">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <p>
                                    Primary Fire: Hyperspheres
                                </p>
                                <p>
                                    Secondary Fire: Experimental Barrier
                                </p>
                                <p>
                                    Ability 1: Kinetic Grasp
                                </p>
                                <p>
                                    Ability 2: Acretion
                                </p>
                                <p>
                                    Ultimate: Gravitic Flux
                                </p>
                            </div>
                            <div class="col-sm">
                                <p>
                                    Health: 300 + 100 in shields
                                </p>
                                <p>
                                    Damage: 55 direct, 9-30 splash
                                </p>
                                <p>
                                    Shots per Second: 0.75
                                </p>
                                <p>
                                    Falloff Range: None
                                </p>
                                <p>
                                    Ammo: Unlimited
                                </p>
                                <p>
                                    Reload Time: None
                                </p>
                            </div>
                        </div>
                        <hr>
                        <p>
                            Strategy:
                        </p>
                        <p>
                            Sigma floats like Zenyatta, meaning he makes no audible footsteps. This can be quite useful
                            if attempting to flank, hide from enemies, or capture the objective while the enemy team is
                            distracted.
                        </p>
                        <p>
                            Keeping distance from enemy heroes is key to playing Sigma, as Hyperspheres and Accretion
                            both cause damage to Sigma. Being able to keep your distance and utilizing walls to bounce
                            your Hyperspheres will prove more useful than a front-on fight.
                        </p>
                        <p>
                            Sigma is best used with another tank, that comes with a defensive shield formation called
                            the
                            "The Roman Tortoise." This requires the main tank (Reinhardt or Orisa) to have their barrier
                            up, usually in a choke, and Sigma has his barrier placed directly above at a roughly 45
                            degree angle to cover his team from explosives. This formation works best on defense, and
                            with much practice can be used offensively with Reinhardt.
                        </p>
                        <p>The Experimental Barrier can be used to mass clear mines from Wrecking Ball's ultimate
                            ability.
                        </p>
                        <p> By placing your Experimental Barrier in front of an enemy Pharah using her ultimate, it is
                            quite likely she will eliminate herself with the splash damage. This has to be done very
                            precisely as your shield will get melted before you know it, and the time frame is very
                            small.
                        </p>
                        <p>
                            Barrier management is the core of Sigma’s kit. It’s recommended to play around his cool
                            downs, using Experimental Barrier to protect your team until Kinetic grasp is ready. Then,
                            you drop your barrier and absorb all incoming damage, which will allow you to be much more
                            aggressive.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 32rem;">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <style>
                                    .col-sm img {
                                        height: 180px;
                                        width: 100px;
                                    }
                                </style>

                                <a href='Asylum' title='Asylum'><img src="https://i.ibb.co/ZgkPSTw/front.png"
                                        alt="front"></a>
                                Asylum
                                <p></p>

                                <a href='Blauw' title='Blauw'><img src="https://i.ibb.co/bzHNFdq/front.png"
                                        alt="front"></a>
                                Blauw
                                <p></p>

                                <a href='SigmaCarbonFiber' title='SigmaCarbonFiber'><img
                                        src="https://i.ibb.co/233cWvq/front.png" alt="front"></a>
                                Carbon Fiber
                                <p></p>

                                <a href='SigmaClassic' title='Classic'><img src="https://i.ibb.co/rd3wZRz/front.png"
                                        alt="front"></a>
                                Classic
                                <p></p>

                                <a href='DrDeKuiper' title='DrDeKuiper'><img src="https://i.ibb.co/8chx09H/front.png"
                                        alt="front"></a>
                                Dr. De Kuiper
                                <p></p>

                                <a href='FlyingDutchman' title='FlyingDutchman'><img
                                        src="https://i.ibb.co/fpH51nJ/front.png" alt="front"></a>
                                Flying Dutchman
                                <p></p>

                                <a href='Groen' title='Groen'><img src="https://i.ibb.co/7j0BYRc/front.png"
                                        alt="front"></a>
                                Groen
                                <p></p>

                                <a href='Maestro' title='Maestro'><img src="https://i.ibb.co/5jKspsX/front.png"
                                        alt="front"></a>
                                Maestro
                                <p></p>

                            </div>
                            <div class="col-sm">

                                <a href='Oracle' title='Oracle'><img src="https://i.ibb.co/J3zZv8V/front.png"
                                        alt="front"></a>
                                Oracle
                                <p></p>

                                <a href='Oranje' title='Oranje'><img src="https://i.ibb.co/PFWvLwj/front.png"
                                        alt="front"></a>
                                Oranje
                                <p></p>

                                <a href='Prophet' title='Prophet'><img src="https://i.ibb.co/S6B6D7Q/front.png"
                                        alt="front"></a>
                                Prophet
                                <p></p>

                                <a href='SigmaRime' title='Rime'><img src="https://i.ibb.co/YBn59xm/front.png"
                                        alt="front"></a>
                                Rime
                                <p></p>

                                <a href='Roze' title='Roze'><img src="https://i.ibb.co/RBGJdds/front.png"
                                        alt="front"></a>
                                Roze
                                <p></p>

                                <a href='SubjectSigma' title='SubjectSigma'><img
                                        src="https://i.ibb.co/TKS4WLt/front.png" alt="front"></a>
                                Subject Sigma
                                <p></p>

                                <a href='SigmaTalon' title='Talon'><img src="https://i.ibb.co/X7spN7Y/front.png"
                                        alt="front"></a>
                                Talon
                                <p></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="card" style="width: 70rem;">
    <div class="card-body">

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <p>
                        A brilliant astrophysicist Dr. Siebren de Kuiper was considered a pioneer in his field. His
                        life's work involved devising a way to harness the power of gravity. Equally known for his
                        groundbreaking research and eccentric personality, he conducted most of his studies from his lab
                        in The Hague. At some point he was present at the Horizon Lunar Colony.
                    </p>
                    <p>
                        Decades of study and research led De Kuiper to the belief that "gravity is a harness;" if the
                        unifying theories were correct, through his work mankind would soon even be able to command
                        nature's most potent expression of gravity, a black hole, and it would change everything
                        forever. Believing that he was close to achieving his goal, he performed his most important
                        experiment on the International Space Station. However, something went terribly wrong. The field
                        containing the experiment began to fail; as De Kuiper desperately tried to figure out why it was
                        happening and how to stop it, the brief formation of a black hole was triggered. Screaming, De
                        Kuiper was only exposed to its power for a moment, but he suffered serious psychological damage.
                        The area around him began to experience strange fluctuations in gravity, peaking and dropping in
                        time with his reactions. He had to be evacuated immediately.
                    </p>
                </div>
                <div class="col-sm">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/onplsJSdp4A"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>

    </div>
</div>

<br>

{% endblock content %}