{% extends 'base.html' %}

{% block content %}

<p></p>


<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 32rem;">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                title1
                            </div>
                            <div class="col-sm">
                                title2
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 32rem;">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            Click the image to go to the skin's page:
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 32rem;">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore
                                et dolore
                                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex
                                ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                eu fugiat
                                nulla
                                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                deserunt mollit
                                anim id
                                est laborum."
                            </div>
                            <div class="col-sm">
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore
                                et dolore
                                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex
                                ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                eu fugiat
                                nulla
                                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                deserunt mollit
                                anim id
                                est laborum."
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 32rem;">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <style>
                                    .col-sm img {
                                        height: 180px;
                                        width: 100px;
                                    }
                                </style>

                                <a href='Asylum' title='Asylum'><img src="https://i.ibb.co/ZgkPSTw/front.png"
                                        alt="front"></a>
                                Asylum
                                <p></p>

                                <a href='Blauw' title='Blauw'><img src="https://i.ibb.co/bzHNFdq/front.png"
                                        alt="front"></a>
                                Blauw
                                <p></p>

                                <a href='SigmaCarbonFiber' title='SigmaCarbonFiber'><img src="https://i.ibb.co/233cWvq/front.png"
                                        alt="front"></a>
                                Carbon Fiber
                                <p></p>

                                <a href='SigmaClassic' title='Classic'><img src="https://i.ibb.co/rd3wZRz/front.png"
                                        alt="front"></a>
                                Classic
                                <p></p>

                                <a href='DrDeKuiper' title='DrDeKuiper'><img src="https://i.ibb.co/8chx09H/front.png"
                                        alt="front"></a>
                                Dr. De Kuiper
                                <p></p>

                                <a href='FlyingDutchman' title='FlyingDutchman'><img
                                        src="https://i.ibb.co/fpH51nJ/front.png" alt="front"></a>
                                Flying Dutchman
                                <p></p>

                                <a href='Groen' title='Groen'><img src="https://i.ibb.co/7j0BYRc/front.png"
                                        alt="front"></a>
                                Groen
                                <p></p>

                                <a href='Maestro' title='Maestro'><img src="https://i.ibb.co/5jKspsX/front.png"
                                        alt="front"></a>
                                Maestro
                                <p></p>

                            </div>
                            <div class="col-sm">

                                <a href='Oracle' title='Oracle'><img src="https://i.ibb.co/J3zZv8V/front.png"
                                        alt="front"></a>
                                Oracle
                                <p></p>

                                <a href='Oranje' title='Oranje'><img src="https://i.ibb.co/PFWvLwj/front.png"
                                        alt="front"></a>
                                Oranje
                                <p></p>

                                <a href='Prophet' title='Prophet'><img src="https://i.ibb.co/S6B6D7Q/front.png"
                                        alt="front"></a>
                                Prophet
                                <p></p>

                                <a href='SigmaRime' title='Rime'><img src="https://i.ibb.co/YBn59xm/front.png"
                                        alt="front"></a>
                                Rime
                                <p></p>

                                <a href='Roze' title='Roze'><img src="https://i.ibb.co/RBGJdds/front.png"
                                        alt="front"></a>
                                Roze
                                <p></p>

                                <a href='SubjectSigma' title='SubjectSigma'><img
                                        src="https://i.ibb.co/TKS4WLt/front.png" alt="front"></a>
                                Subject Sigma
                                <p></p>

                                <a href='SigmaTalon' title='Talon'><img src="https://i.ibb.co/X7spN7Y/front.png"
                                        alt="front"></a>
                                Talon
                                <p></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="card" style="width: 70rem;">
    <div class="card-body">

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                    ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                    nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                    anim id
                    est laborum."
                </div>
                <div class="col-sm">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/onplsJSdp4A"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>

    </div>
</div>

<br>

{% endblock content %}