{% extends 'base.html' %}

{% block content %}


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shopping Cart</title>

    <link rel="stylesheet" media="screen" title="no title" charset="utf-8">
    <script src="https://code.jquery.com/jquery-2.2.4.js" charset="utf-8"></script>
    <meta name="robots" content="noindex,follow" />
</head>

<br>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 45rem;">
                <div class="card-body welcome">
                    <body>
                        <div class="shopping-cart">
                            <!-- Title -->
                            <div class="title">
                                Shopping Cart:
                            </div>
                            <br>
                            <!-- Product #1 -->
                            <div class="item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">

                                            <div class="image">
                                                <img src="https://i.ibb.co/KwBH5zn/yellowsatin.png" alt="yellowsatin"
                                                    class="img-thumbnail" />
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="description">
                                                        <span>Satin,</span>
                                                        <span>Yellow</span>
                                                    </div><br>
                                                    <div class="quantity">
                                                        <button class="plus-btn" type="button" name="button">
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                        <input type="text" name="name" value="1">
                                                        <button class="minus-btn" type="button" name="button">
                                                            <i class="fa fa-minus"></i>
                                                        </button>
                                                    </div><br>
                                                    <div class="total-price">$20 each</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <!-- Product #2 -->
                            <div class="item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">

                                            <div class="image">
                                                <img src="https://i.ibb.co/PCphFQf/medium1.png" alt="mediumwig"
                                                    class="img-thumbnail" />
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="description">
                                                        <span>Medium Wig,</span>
                                                        <span>Lavender</span>
                                                    </div><br>
                                                    <div class="quantity">
                                                        <button class="plus-btn" type="button" name="button">
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                        <input type="text" name="name" value="1">
                                                        <button class="minus-btn" type="button" name="button">
                                                            <i class="fa fa-minus"></i>
                                                        </button>
                                                    </div><br>
                                                    <div class="total-price">$60 each</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <!-- Product #3 -->
                            <div class="item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <div class="image">
                                                <img src="https://i.ibb.co/pPxJQ4x/heatgun.webp" alt="heatgun"
                                                    class="img-thumbnail" />
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="description">
                                                        <span>Heat Gun,</span>
                                                        <span>Small</span>
                                                    </div><br>
                                                    <div class="quantity">
                                                        <button class="plus-btn" type="button" name="button">
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                        <input type="text" name="name" value="1">
                                                        <button class="minus-btn" type="button" name="button">
                                                            <i class="fa fa-minus"></i>
                                                        </button>
                                                    </div><br>
                                                    <div class="total-price">$80 each</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h3>
                        Cart Total:
                    </h3>
                    <h4>
                        $150
                    </h4><br>
                    <a href="checkout"><button type="button" class="btn btn-danger">Checkout</button></a>
                </div>
              </div>
        </div>
    </div>
</div>
<br>




<style>
    .card-body h3 {
        font-size: 30px;
        color: #d9534f;
    }

    .title {
        font-size: 30px;
        color: #d9534f;
    }
    .card {
     border: 5px solid black;
    }
</style>


<script type="text/javascript">
    $('.minus-btn').on('click', function (e) {
        e.preventDefault();
        var $this = $(this);
        var $input = $this.closest('div').find('input');
        var value = parseInt($input.val());

        if (value > 1) {
            value = value - 1;
        } else {
            value = 0;
        }

        $input.val(value);

    });

    $('.plus-btn').on('click', function (e) {
        e.preventDefault();
        var $this = $(this);
        var $input = $this.closest('div').find('input');
        var value = parseInt($input.val());

        if (value < 100) {
            value = value + 1;
        } else {
            value = 100;
        }

        $input.val(value);
    });

    $('.like-btn').on('click', function () {
        $(this).toggleClass('is-active');
    });
</script>
</body>

</html>


{% endblock content %}