<div class="container">
    <div class="row">
        <div class="col-sm">
            Colors:
        </div>
        <div class="col-sm">
            <div class="container">
                <div class="row">
                    <div class="card" style="width: 10rem;">
                        <img src="https://i.ibb.co/z4ZkLng/color2.png" alt="color2">
                        <img src="https://i.ibb.co/J5Y5fzh/color3.png" alt="color3">
                        <img src="https://i.ibb.co/qW9QLz9/color1.png" alt="color1">
                        <img src="https://i.ibb.co/8PY5XYh/color4.png" alt="color4">
                    </div>
                </div>
            </div>
        </div>
            <div class="col-sm">
                <div class="container">
                    <div class="row">
                        <div class="card" style="width: 10rem;">
                        <img src="https://i.ibb.co/Lgjp4F4/color5.png" alt="color5">
                        <img src="https://i.ibb.co/q169D6Q/color6.png" alt="color6">
                        <img src="https://i.ibb.co/x131Gj9/color8.png" alt="color8">
                        <img src="https://i.ibb.co/5vbHHrb/color9.png" alt="color9">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            Select Color:
            <select class="form-select" aria-label="Default select example">
                <option value="1">Blue</option>
                <option value="2">Green</option>
                <option value="3">Red</option>
                <option value="4">Ash</option>
                <option value="5">Blonde/Purple</option>
                <option value="6">Dandelion</option>
                <option value="7">Silver</option>
                <option value="8">White</option>
              </select>
        </div>
    </div>
</div>