<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 10rem;">
                <div class="card-body">
                    <button type="button" class="btn btn-danger"> Add to Cart </button>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 10rem;">
                <div class="card-body">
                    <a href="other"><button type="button" class="btn btn-danger"> Back to Other </button></a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 10rem;">
                <div class="card-body">
                    <a href="shop"><button type="button" class="btn btn-danger"> Back to Shop </button></a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>