{% extends 'base.html' %}

{% block content %}

<br>




<div class="card" style="width: 70rem;">
    <img class="card-img-top" src="https://via.placeholder.com/1000x150" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"> Tanks </h5>
        <p class="card-text"> Click on a character to view their information. </p>
    </div>
</div>
<div class="card" style="width: 70rem;">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img src="https://via.placeholder.com/150x150" alt="dva" class="img-thumbnail">
            </div>
            <div class="col-sm">
                <img src="https://via.placeholder.com/150x150" alt="orisa" class="img-thumbnail">
            </div>
            <div class="col-sm">
                <img src="https://via.placeholder.com/150x150" alt="reinhardt" class="img-thumbnail">
            </div>
            <div class="col-sm">
                <img src="https://via.placeholder.com/150x150" alt="roadhog" class="img-thumbnail">
            </div>
            <div class="col-sm">
                <img src="https://via.placeholder.com/150x150" alt="sigma" class="img-thumbnail">
            </div>
            <div class="col-sm">
                <img src="https://via.placeholder.com/150x150" alt="winston" class="img-thumbnail">
            </div>
            <div class="col-sm">
                <img src="https://via.placeholder.com/150x150" alt="ball" class="img-thumbnail">
            </div>
            <div class="col-sm">
                <img src="https://via.placeholder.com/150x150" alt="zarya" class="img-thumbnail">
            </div>
        </div>
    </div>
</div>

<div class="card" style="width: 70rem;">
    <img class="card-img-top" src="https://via.placeholder.com/1000x150" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"> Support </h5>
        <p class="card-text"> Click on a character to view their information. </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="https://via.placeholder.com/150x150" alt="dva" class="img-thumbnail">
        </div>
        <div class="col-sm">
            <img src="https://via.placeholder.com/150x150" alt="orisa" class="img-thumbnail">
        </div>
        <div class="col-sm">
            <img src="https://via.placeholder.com/150x150" alt="reinhardt" class="img-thumbnail">
        </div>
        <div class="col-sm">
            <img src="https://via.placeholder.com/150x150" alt="roadhog" class="img-thumbnail">
        </div>
        <div class="col-sm">
            <img src="https://via.placeholder.com/150x150" alt="sigma" class="img-thumbnail">
        </div>
        <div class="col-sm">
            <img src="https://via.placeholder.com/150x150" alt="winston" class="img-thumbnail">
        </div>
        <div class="col-sm">
            <img src="https://via.placeholder.com/150x150" alt="ball" class="img-thumbnail">
        </div>
        <div class="col-sm">
            <img src="https://via.placeholder.com/150x150" alt="zarya" class="img-thumbnail">
        </div>
    </div>
</div>

<br>

<div class="card" style="width: 70rem;">
    <img class="card-img-top" src="https://via.placeholder.com/1000x150" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"> DPS </h5>
        <p class="card-text"> Click on a character to view their information. </p>
    </div>
</div>
<div class="card" style="width: 70rem;">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img src="https://via.placeholder.com/150x150" alt="dva" class="img-thumbnail">
            </div>
            <div class="col-sm">
                <img src="https://via.placeholder.com/150x150" alt="orisa" class="img-thumbnail">
            </div>
            <div class="col-sm">
                <img src="https://via.placeholder.com/150x150" alt="reinhardt" class="img-thumbnail">
            </div>
            <div class="col-sm">
                <img src="https://via.placeholder.com/150x150" alt="roadhog" class="img-thumbnail">
            </div>
            <div class="col-sm">
                <img src="https://via.placeholder.com/150x150" alt="sigma" class="img-thumbnail">
            </div>
            <div class="col-sm">
                <img src="https://via.placeholder.com/150x150" alt="winston" class="img-thumbnail">
            </div>
            <div class="col-sm">
                <img src="https://via.placeholder.com/150x150" alt="ball" class="img-thumbnail">
            </div>
            <div class="col-sm">
                <img src="https://via.placeholder.com/150x150" alt="zarya" class="img-thumbnail">
            </div>
        </div>
    </div>
</div>


<br>


<br>

{% endblock content %}