{% extends 'base.html' %}

{% block content %}

<br>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 32rem;">
                <img class="card-img-top" src="https://via.placeholder.com/1000x150" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"> Tanks </h5>
                    <p class="card-text"> Click on a character to view their information. </p>
                </div>
            </div>
            <div class="card" style="width: 32rem;">
                <div class="container">
                    <br>
                    <div class="row">
                        <div class="col-sm">
                            <a href='dvainfo' title='dvainfo'><img src="https://via.placeholder.com/150x150" alt="dva"
                                    class="img-thumbnail"></a>
                        </div>
                        <div class="col-sm">
                            <a href='orisainfo' title='orisainfo'><img src="https://via.placeholder.com/150x150"
                                    alt="orisa" class="img-thumbnail"></a>
                        </div>
                        <div class="col-sm">
                            <a href='reinhardtinfo' title='reinhardtinfo'><img src="https://via.placeholder.com/150x150"
                                    alt="reinhardt" class="img-thumbnail"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <a href='roadhoginfo' title='roadhoginfo'><img src="https://via.placeholder.com/150x150"
                                    alt="roadhog" class="img-thumbnail"></a>
                        </div>
                        <div class="col-sm">
                            <a href='sigmainfo' title='sigmainfo'><img src="https://via.placeholder.com/150x150"
                                    alt="sigma" class="img-thumbnail"></a>
                        </div>
                        <div class="col-sm">
                            <a href='winstoninfo' title='winstoninfo'><img src="https://via.placeholder.com/150x150"
                                    alt="winston" class="img-thumbnail"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <a href='ballinfo' title='ballinfo'><img src="https://via.placeholder.com/150x150"
                                    alt="ball" class="img-thumbnail"></a>
                        </div>
                        <div class="col-sm">
                            <a href='zaryainfo' title='zaryainfo'><img src="https://via.placeholder.com/150x150"
                                    alt="zarya" class="img-thumbnail"></a>
                        </div>
                        <div class="col-sm">

                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 32rem;">
                <img class="card-img-top" src="https://via.placeholder.com/1000x150" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"> Support </h5>
                    <p class="card-text"> Click on a character to view their information. </p>
                </div>
            </div>
            <div class="card" style="width: 32rem;">
                <div class="container">
                    <br>
                    <div class="row">
                        <div class="col-sm">
                            <a href='anainfo' title='anainfo'><img src="https://via.placeholder.com/150x150" alt="ana"
                                    class="img-thumbnail"></a>
                        </div>
                        <div class="col-sm">
                            <a href='baptisteinfo' title='baptisteinfo'><img src="https://via.placeholder.com/150x150"
                                    alt="baptiste" class="img-thumbnail"></a>
                        </div>
                        <div class="col-sm">
                            <a href='brigitteinfo' title='brigitteinfo'><img src="https://via.placeholder.com/150x150"
                                    alt="brigitte" class="img-thumbnail"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <a href='lucioinfo' title='lucioinfo'><img src="https://via.placeholder.com/150x150"
                                    alt="lucio" class="img-thumbnail"></a>
                        </div>
                        <div class="col-sm">
                            <a href='mercyinfo' title='mercyinfo'><img src="https://via.placeholder.com/150x150"
                                    alt="mercy" class="img-thumbnail"></a>
                        </div>
                        <div class="col-sm">
                            <a href='moirainfo' title='moirainfo'><img src="https://via.placeholder.com/150x150"
                                    alt="moira" class="img-thumbnail"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <a href='zenyattainfo' title='zenyattainfo'><img src="https://via.placeholder.com/150x150"
                                    alt="zenyatta" class="img-thumbnail"></a>
                        </div>
                        <div class="col-sm">

                        </div>
                        <div class="col-sm">

                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="card" style="width: 70rem;">
    <img class="card-img-top" src="https://via.placeholder.com/1000x150" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"> DPS </h5>
        <p class="card-text"> Click on a character to view their information. </p>
    </div>
</div>
<div class="card" style="width: 70rem;">
    <div class="container">
        <br>
        <div class="row">
            <div class="col-sm">
                <a href='asheinfo' title='asheinfo'><img src="https://via.placeholder.com/150x150" alt="ashe" class="img-thumbnail"></a>
            </div>
            <div class="col-sm">
                <a href='bastioninfo' title='bastioninfo'><img src="https://via.placeholder.com/150x150" alt="bastion" class="img-thumbnail"></a>
            </div>
            <div class="col-sm">
                <a href='doomfistinfo' title='doomfistinfo'><img src="https://via.placeholder.com/150x150" alt="doomfist" class="img-thumbnail"></a>
            </div>
            <div class="col-sm">
                <a href='echoinfo' title='echoinfo'><img src="https://via.placeholder.com/150x150" alt="echo" class="img-thumbnail"></a>
            </div>
            <div class="col-sm">
                <a href='genjiinfo' title='genjiinfo'><img src="https://via.placeholder.com/150x150" alt="genji" class="img-thumbnail"></a>
            </div>
            <div class="col-sm">
                <a href='hanzoinfo' title='hanzoinfo'><img src="https://via.placeholder.com/150x150" alt="hanzo" class="img-thumbnail"></a>
            </div>
            <div class="col-sm">
                <a href='junkratinfo' title='junkratinfo'><img src="https://via.placeholder.com/150x150" alt="junkrat" class="img-thumbnail"></a>
            </div>
            <div class="col-sm">
                <a href='mccreeinfo' title='mccreeinfo'><img src="https://via.placeholder.com/150x150" alt="mccree" class="img-thumbnail"></a>
            </div>
            <div class="col-sm">
                <a href='meiinfo' title='meiinfo'><img src="https://via.placeholder.com/150x150" alt="mei" class="img-thumbnail"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <a href='pharahinfo' title='pharahinfo'><img src="https://via.placeholder.com/150x150" alt="pharah" class="img-thumbnail"></a>
            </div>
            <div class="col-sm">
                <a href='reaperinfo' title='reaperinfo'><img src="https://via.placeholder.com/150x150" alt="reaper" class="img-thumbnail"></a>
            </div>
            <div class="col-sm">
                <a href='soldierinfo' title='soldierinfo'><img src="https://via.placeholder.com/150x150" alt="soldier:76" class="img-thumbnail"></a>
            </div>
            <div class="col-sm">
                <a href='sombrainfo' title='sombrainfo'><img src="https://via.placeholder.com/150x150" alt="sombra" class="img-thumbnail"></a>
            </div>
            <div class="col-sm">
                <a href='symmetrainfo' title='symmetrainfo'><img src="https://via.placeholder.com/150x150" alt="symmetra" class="img-thumbnail"></a>
            </div>
            <div class="col-sm">
                <a href='torbjorninfo' title='torbjorninfo'><img src="https://via.placeholder.com/150x150" alt="torbjorn" class="img-thumbnail"></a>
            </div>
            <div class="col-sm">
                <a href='tracerinfo' title='tracerinfo'><img src="https://via.placeholder.com/150x150" alt="tracer" class="img-thumbnail"></a>
            </div>
            <div class="col-sm">
                <a href='widowmakerinfo' title='widowmakerinfo'><img src="https://via.placeholder.com/150x150" alt="widowmaker" class="img-thumbnail"></a>
            </div>
        </div>
    <br></div>
</div>
</div>


<br>


<br>

{% endblock content %}