{% extends 'base.html' %}

{% block content %}


<!-- CSS -->

<style>
    .card {
        background-color: #ffffff;
    }

    .img-thumbnail {
        background-color: #d9534f;
    }
</style>

<!-- HTML -->

<br>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card text-center" style="width: 32rem;">
                <!-- <img class="card-img-top" src="https://via.placeholder.com/1000x150" alt="Card image cap"> -->
                <div class="card-body">
                    <h5 class="card-title"> Tanks </h5>
                    <p class="card-text"> Click on a character to view their information, reference photo section, and
                        story. </p>
                </div>
            </div>
            <div class="card" style="width: 32rem;">
                <div class="container">
                    <br>
                    <div class="row">
                        <div class="col-sm">
                            <a href='dvainfo' title='dvainfo'><img src="https://i.ibb.co/hCrh7r3/dvaicon.webp" alt="dva"
                                    class="img-thumbnail"></a>
                        </div>
                        <div class="col-sm">
                            <a href='orisainfo' title='orisainfo'><img src="https://i.ibb.co/QrTFNBz/orisaicon.webp"
                                    alt="orisa" class="img-thumbnail"></a>
                        </div>
                        <div class="col-sm">
                            <a href='reinhardtinfo' title='reinhardtinfo'><img
                                    src="https://i.ibb.co/cYP6tdG/reinicon.webp" alt="reinhardt"
                                    class="img-thumbnail"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <a href='roadhoginfo' title='roadhoginfo'><img src="https://i.ibb.co/DRVSwMY/hogicon.webp"
                                    alt="roadhog" class="img-thumbnail"></a>
                        </div>
                        <div class="col-sm">
                            <a href='sigmainfo' title='sigmainfo'><img src="https://i.ibb.co/1T8d674/sigmaicon.webp"
                                    alt="sigma" class="img-thumbnail"></a>
                        </div>
                        <div class="col-sm">
                            <a href='winstoninfo' title='winstoninfo'><img
                                    src="https://i.ibb.co/WV6hv7S/winstonicon.webp" alt="winston"
                                    class="img-thumbnail"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <a href='ballinfo' title='ballinfo'><img src="https://i.ibb.co/jWmp73C/ballicon.webp"
                                    alt="ball" class="img-thumbnail"></a>
                        </div>
                        <div class="col-sm">
                            <a href='zaryainfo' title='zaryainfo'><img src="https://i.ibb.co/qFcMvsQ/zaryaicon.webp"
                                    alt="zarya" class="img-thumbnail"></a>
                        </div>
                        <div class="col-sm">

                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-center" style="width: 32rem;">
                <!-- <img class="card-img-top" src="https://via.placeholder.com/1000x150" alt="Card image cap"> -->
                <div class="card-body">
                    <h5 class="card-title"> Support </h5>
                    <p class="card-text"> Click on a character to view their information, reference photo section, and
                        story. </p>
                </div>
            </div>
            <div class="card" style="width: 32rem;">
                <div class="container">
                    <br>
                    <div class="row">
                        <div class="col-sm">
                            <a href='anainfo' title='anainfo'><img src="https://i.ibb.co/kDH10q3/anaicon.webp" alt="ana"
                                    class="img-thumbnail"></a>
                        </div>
                        <div class="col-sm">
                            <a href='baptisteinfo' title='baptisteinfo'><img src="https://i.ibb.co/ZWXXZv7/bapicon.webp"
                                    alt="baptiste" class="img-thumbnail"></a>
                        </div>
                        <div class="col-sm">
                            <a href='brigitteinfo' title='brigitteinfo'><img
                                    src="https://i.ibb.co/0QXSX72/brigicon.webp" alt="brigitte"
                                    class="img-thumbnail"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <a href='lucioinfo' title='lucioinfo'><img src="https://i.ibb.co/CvgP9NF/lucioicon.webp"
                                    alt="lucio" class="img-thumbnail"></a>
                        </div>
                        <div class="col-sm">
                            <a href='mercyinfo' title='mercyinfo'><img src="https://i.ibb.co/VVQtntc/mercyicon.webp"
                                    alt="mercy" class="img-thumbnail"></a>
                        </div>
                        <div class="col-sm">
                            <a href='moirainfo' title='moirainfo'><img src="https://i.ibb.co/sjnbQmq/moiraicon.webp"
                                    alt="moira" class="img-thumbnail"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <a href='zenyattainfo' title='zenyattainfo'><img src="https://i.ibb.co/StwVLQV/zenicon.webp"
                                    alt="zenyatta" class="img-thumbnail"></a>
                        </div>
                        <div class="col-sm">

                        </div>
                        <div class="col-sm">

                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="card text-center" style="width: 70rem;">
    <!-- <img class="card-img-top" src="https://via.placeholder.com/1000x150" alt="Card image cap"> -->
    <div class="card-body">
        <h5 class="card-title"> DPS </h5>
        <p class="card-text"> Click on a character to view their information, reference photo section, and story. </p>
    </div>
</div>
<div class="card" style="width: 70rem;">
    <div class="container">
        <br>
        <div class="row">
            <div class="col-sm">
                <a href='asheinfo' title='asheinfo'><img src="https://i.ibb.co/NjwWtVJ/asheicon.webp" alt="ashe"
                        class="img-thumbnail"></a>
            </div>
            <div class="col-sm">
                <a href='bastioninfo' title='bastioninfo'><img src="https://i.ibb.co/g3t1fdL/bastionicon.webp"
                        alt="bastion" class="img-thumbnail"></a>
            </div>
            <div class="col-sm">
                <a href='doomfistinfo' title='doomfistinfo'><img src="https://i.ibb.co/PzS5frk/doomicon.webp"
                        alt="doomfist" class="img-thumbnail"></a>
            </div>
            <div class="col-sm">
                <a href='echoinfo' title='echoinfo'><img src="https://i.ibb.co/jLdYdXW/echoicon.webp" alt="echo"
                        class="img-thumbnail"></a>
            </div>
            <div class="col-sm">
                <a href='genjiinfo' title='genjiinfo'><img src="https://i.ibb.co/r5G8XXC/genjiicon.webp" alt="genji"
                        class="img-thumbnail"></a>
            </div>
            <div class="col-sm">
                <a href='hanzoinfo' title='hanzoinfo'><img src="https://i.ibb.co/hFdHgHW/hanzoicon.webp" alt="hanzo"
                        class="img-thumbnail"></a>
            </div>
            <div class="col-sm">
                <a href='junkratinfo' title='junkratinfo'><img src="https://i.ibb.co/6b11mSB/junkraticon.webp"
                        alt="junkrat" class="img-thumbnail"></a>
            </div>
            <div class="col-sm">
                <a href='mccreeinfo' title='mccreeinfo'><img src="https://i.ibb.co/T2cpxd0/mccreeicon.webp" alt="mccree"
                        class="img-thumbnail"></a>
            </div>
            <div class="col-sm">
                <a href='meiinfo' title='meiinfo'><img src="https://i.ibb.co/qBBKTtK/meiicon.webp" alt="mei"
                        class="img-thumbnail"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <a href='pharahinfo' title='pharahinfo'><img src="https://i.ibb.co/BG2Trmz/pharahicon.webp" alt="pharah"
                        class="img-thumbnail"></a>
            </div>
            <div class="col-sm">
                <a href='reaperinfo' title='reaperinfo'><img src="https://i.ibb.co/xFzHWBf/reapericon.webp" alt="reaper"
                        class="img-thumbnail"></a>
            </div>
            <div class="col-sm">
                <a href='soldierinfo' title='soldierinfo'><img src="https://i.ibb.co/BgGf0Xd/solidericon.webp"
                        alt="soldier:76" class="img-thumbnail"></a>
            </div>
            <div class="col-sm">
                <a href='sombrainfo' title='sombrainfo'><img src="https://i.ibb.co/nmCy6Y8/sombraicon.webp" alt="sombra"
                        class="img-thumbnail"></a>
            </div>
            <div class="col-sm">
                <a href='symmetrainfo' title='symmetrainfo'><img src="https://i.ibb.co/znnLn8y/symmetraicon.webp"
                        alt="symmetra" class="img-thumbnail"></a>
            </div>
            <div class="col-sm">
                <a href='torbjorninfo' title='torbjorninfo'><img src="https://i.ibb.co/Q92GgVZ/torbicon.webp"
                        alt="torbjorn" class="img-thumbnail"></a>
            </div>
            <div class="col-sm">
                <a href='tracerinfo' title='tracerinfo'><img src="https://i.ibb.co/qDKG1Jd/tracericon.webp" alt="tracer"
                        class="img-thumbnail"></a>
            </div>
            <div class="col-sm">
                <a href='widowmakerinfo' title='widowmakerinfo'><img src="https://i.ibb.co/vX3Z3Fz/widowicon.webp"
                        alt="widowmaker" class="img-thumbnail"></a>
            </div>
        </div>
        <br>
    </div>
</div>
</div>


<br>


<br>

<style>
    .card {
        border: 5px solid black;
    }
</style>

{% endblock content %}