{% extends 'base.html' %}

{% block content %}

<br>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card text-center" style="width: 47rem;">
                Reference Photos

            </div>
        </div>
        <div class="col-sm">
            <div class="card text-center" style="width: 19rem;">
                Cosplay Suggestions

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card text-center" style="width: 47rem;">

                <style>
                    .col-sm .anafrontback img {
                        height: 290px;
                        width: 140px;
                    }

                    .col-sm .analeftright img {
                        height: 290px;
                        width: 100px;
                    }
                </style>
                <div class="container">
                    <br>
                    <div class="row">
                        Full-body:
                        <div class="col-sm anafrontback">
                            <img src="https://i.ibb.co/hfBtRNJ/front.png" alt="front">
                            <img src="https://i.ibb.co/nPG8V5F/back.png" alt="back">
                        </div>
                        <div class="col-sm analeftright">
                            <img src="https://i.ibb.co/4WnFY7r/leftside.png" alt="leftside">
                            <img src="https://i.ibb.co/brhny5X/rightside.png" alt="rightside">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        Hair:
                        <div class="col-sm col3">
                            <img src="https://via.placeholder.com/140x280" alt="front">
                            <img src="https://via.placeholder.com/140x280" alt="back">
                        </div>
                        <div class="col-sm col4">
                            <img src="https://via.placeholder.com/140x280" alt="leftside">
                            <img src="https://via.placeholder.com/140x280" alt="rightside">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        Clothes:
                        <div class="col-sm col1">
                            <img src="https://via.placeholder.com/140x280" alt="front">
                            <img src="https://via.placeholder.com/140x280" alt="back">
                        </div>
                        <div class="col-sm col2">
                            <img src="https://via.placeholder.com/140x280" alt="leftside">
                            <img src="https://via.placeholder.com/140x280" alt="rightside">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        Weapon:
                        <div class="col-sm col1">
                            <img src="https://via.placeholder.com/140x280" alt="front">
                            <img src="https://via.placeholder.com/140x280" alt="back">
                        </div>
                        <div class="col-sm col2">
                            <img src="https://via.placeholder.com/140x280" alt="leftside">
                            <img src="https://via.placeholder.com/140x280" alt="rightside">
                        </div>
                    </div><br>
                </div>

            </div>
        </div>

        <style>
            .anasuggest img {
                height: auto;
                width: 200px;
            }
        </style>

        <div class="col-sm">
            <div class="card text-center anasuggest" style="width: 19rem;">

                Wig:
                <br>

                <a href='longwig'><img src="https://i.ibb.co/NjM3xnL/longwig.png" alt="longwig"></a>

                Color: Black
                <br>
                <hr>

                Cotton Fabric:
                <br>

                <a href='cotton'><img src="https://i.ibb.co/wS7c13Y/bluecotton.png" alt="bluecotton"></a>
                Color: Blue, Black
                <br>
                <hr>

                Satin Fabric:
                <br>

                <a href='satin'><img src="https://i.ibb.co/fYj30qL/whitesatin.png" alt="whitesatin"></a>
                Color: White
                <br>
                <hr>

                Shoes:
                <br>

                <a href='shoes'><img src="https://via.placeholder.com/200x200" alt="shoes"></a>
                Color: Blue
                <br>
                <hr>

                Accessories:
                <br>

                <a href='accessories'><img src="https://via.placeholder.com/200x200" alt="accessories"></a>
                Color: Assorted
                <br>

            </div>
        </div>
    </div>
</div>

<br>

{% endblock content %}