{% extends 'base.html' %}

{% block content %}

Use the catalog below to find what you're looking for.
<div class="card" style="width: 70rem;">
    <img class="card-img-top" src="https://via.placeholder.com/1000x150" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"> Type what you're looking for below. (Examples: "ana", "bastet", "spray".) </h5>
      <p class="card-text"> [type here] </p>
      <a href="#" class="btn btn-primary"> Search </a>
    </div>
  </div>

{% endblock content %}