<div class="container">
    <div class="row">
        <div class="col-sm">
            Colors:
        </div>


        <div class="col-sm">
            <div class="container">
                <div class="row">
                    <div class="card" style="width: 10rem;">
                        <img src="https://i.ibb.co/wS7c13Y/bluecotton.png" alt="bluecotton">
                        <img src="https://i.ibb.co/MZPZQ3y/graycotton.png" alt="graycotton">
                        <img src="https://i.ibb.co/rkqWHsn/greencotton.png" alt="greencotton">
                        <img src="https://i.ibb.co/9y4yBhX/lightbluecotton.png" alt="lightbluecotton">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="container">
                <div class="row">
                    <div class="card" style="width: 10rem;">
                        <img src="https://i.ibb.co/VBfX6J8/lightpinkcotton.png" alt="lightpinkcotton">
                        <img src="https://i.ibb.co/SfhpBSs/pinkcotton.png" alt="pinkcotton">
                        <img src="https://i.ibb.co/qJzNt2h/redcotton.png" alt="redcotton">
                        <img src="https://i.ibb.co/BtQQwLT/yellowcotton.png" alt="yellowcotton">
                    </div>
                </div>
            </div>
        </div>



        <div class="col-sm">
            Select Color:
            <select class="form-select" aria-label="Default select example">
                <option value="1">Blue</option>
                <option value="2">Gray</option>
                <option value="3">Green</option>
                <option value="4">Light Blue</option>
                <option value="5">Light Pink</option>
                <option value="6">Pink</option>
                <option value="7">Red</option>
                <option value="8">Yellow</option>
            </select>
        </div>
    </div>
</div>