<div class="container">
    <div class="row">
        <div class="col-sm">
            <body>
                
            </body>
        </div>

        <div class="col-sm">
            <div class="card f" style="width: 18rem;">
                <img class="card-img-top" src="https://i.ibb.co/99hvMJx/satin.jpg" alt="Satin">
                <div class="card-body">
                    <h5 class="card-title">Satin Fabric</h5>
                    <p class="card-text">Satin fabric sold by yard.</p>
                    <a href="satin" class="btn btn-secondary">Item Page</a>
                    <a href="#" class="btn btn-danger">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card f" style="width: 18rem;">
                <img class="card-img-top" src="https://i.ibb.co/tch95kP/cotton.jpg" alt="Cotton">
                <div class="card-body">
                    <h5 class="card-title">Cotton Fabric</h5>
                    <p class="card-text">Cotton fabric sold by yard.</p>
                    <a href="cotton" class="btn btn-secondary">Item Page</a>
                    <a href="#" class="btn btn-danger">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card f" style="width: 18rem;">
                <img class="card-img-top" src="https://i.ibb.co/QdRW6cr/fur.jpg" alt="Fur">
                <div class="card-body">
                    <h5 class="card-title">Fur Fabric</h5>
                    <p class="card-text">Furred fabric sold by yard.</p>
                    <a href="fur" class="btn btn-secondary">Item Page</a>
                    <a href="#" class="btn btn-danger">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .f {
        min-height: 500px;
    }
    .card {
     border: 5px solid black;
    }
</style>