<div class="container">
  <div class="row">
    <div class="col-sm">Colors:</div>

    <div class="col-sm">
      <div class="container">
        <div class="row">
          <div class="card" style="width: 10rem">
            <img src="https://i.ibb.co/Sc5Hpgm/blondefur.png" alt="blondefur" />
            <img src="https://i.ibb.co/BZzNBpM/bluefur.png" alt="bluefur" />
            <img src="https://i.ibb.co/2qt1cVK/grayfur.png" alt="grayfur" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="container">
        <div class="row">
          <div class="card" style="width: 10rem">
            <img src="https://i.ibb.co/X5f2Mxn/whitefur.png" alt="whitefur" />
            <img src="https://i.ibb.co/sQ66cZP/pinkfur.png" alt="pinkfur" />
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm">
      Select Color:
      <select class="form-select" aria-label="Default select example">
        <option value="1">Blonde</option>
        <option value="2">Blue</option>
        <option value="3">Gray</option>
        <option value="4">White</option>
        <option value="5">Pink</option>
      </select>
    </div>
  </div>
</div>
