{% extends 'base.html' %}

{% block content %}

<br>
<div class="card" style="width: 70rem;">
    <div class="card-body">
        {% if current_user.is_authenticated %}
        <h4>Hello, {{ current_user.username }}!</h4>
        {% else %}
        <h4>Sign in or register to see the shop! :)</h4>
        {% endif %}
    </div>
</div>

<style>
    .welcome {
        font-size: 25px;
    }

    .more {
        font-size: 19px;
    }

    .more li {
        font-size: 15px;
    }
</style>

<br>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 45rem;">
                <div class="card-body welcome">
                    <p>Welcome to overmatch!</p>
                    <p>We strive to be an all-in-one reference app for players, artists, cosplayers, and writers.</p>
                </div>
            </div>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card" style="width: 9rem;">
                            <div class="card-body more">
                                <p>For players:</p>
                                <p>
                                    <li>
                                        Notepad to keep track of coaching, personal goals, etc
                                    </li>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 9rem;">
                            <div class="card-body more">
                                <p>For artists:</p>
                                <p>
                                    <li>
                                        Reference photos for every character, and character skin
                                    </li>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body more">
                                <p>For cosplayers:</p>
                                <p>
                                    <li>
                                        Character reference pages
                                    </li>
                                    <li>
                                        Shop to purchase supplies
                                    </li>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 9rem;">
                            <div class="card-body more">
                                <p>For writers:</p>
                                <p>
                                    <li>
                                        Detailed lore sections for each character
                                    </li>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 20rem; height:310px;">
                <div class="card-body">
                    <div class="fling-minislide">
                        <img src="https://i.ibb.co/cDXFSFY/1draw.png" alt="Slide 3" />
                        <img src="https://i.ibb.co/PxSbtVH/1game.png" alt="Slide 2" />
                        <img src="https://i.ibb.co/GTjbRmc/1sew.jpg" alt="Slide 1" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<style>
    .card {
        border: 5px solid black;
    }

    .fling-minislide {
        width: 100%;
        height: 500px;
        overflow: hidden;
        position: relative;
    }

    .fling-minislide img {
        position: absolute;
        animation: fling-minislide 15s infinite;
        opacity: 0;
        width: 100%;
        height: auto;
    }

    @keyframes fling-minislide {
        25% {
            opacity: 1;
        }

        40% {
            opacity: 0;
        }
    }

    .fling-minislide img:nth-child(3) {
        animation-delay: 0s;
    }

    .fling-minislide img:nth-child(2) {
        animation-delay: 5s;
    }

    .fling-minislide img:nth-child(1) {
        animation-delay: 10s;
    }
</style>

<br>

{% endblock content %}