{% extends 'base.html' %}

{% block content %}

<br>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card text-center" style="width: 47rem;">
                Reference Photos

            </div>
        </div>
        <div class="col-sm">
            <div class="card text-center" style="width: 19rem;">
                Cosplay Suggestions

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card text-center" style="width: 47rem;">

                <style>
                    .col-sm .mccreefrontback img {
                        height: 290px;
                        width: 140px;
                    }

                    .col-sm .mccreeleftright img {
                        height: 290px;
                        width: 120px;
                    }
                </style>
                <div class="container">
                    <br>
                    <div class="row">
                        Full-body:
                        <div class="col-sm mccreefrontback">
                            <img src="https://i.ibb.co/bzRpD5P/back.png" alt="back">
                            <img src="https://i.ibb.co/RHrcQB1/front.png" alt="front">
                        </div>
                        <div class="col-sm mccreeleftright">
                            <img src="https://i.ibb.co/zZDSqkX/leftside.png" alt="leftside">
                            <img src="https://i.ibb.co/7gFpBCF/rightside.png" alt="rightside">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        Hair:
                        <div class="col-sm col3">
                            <img src="https://via.placeholder.com/140x280" alt="front">
                            <img src="https://via.placeholder.com/140x280" alt="back">
                        </div>
                        <div class="col-sm col4">
                            <img src="https://via.placeholder.com/140x280" alt="leftside">
                            <img src="https://via.placeholder.com/140x280" alt="rightside">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        Clothes:
                        <div class="col-sm col1">
                            <img src="https://via.placeholder.com/140x280" alt="front">
                            <img src="https://via.placeholder.com/140x280" alt="back">
                        </div>
                        <div class="col-sm col2">
                            <img src="https://via.placeholder.com/140x280" alt="leftside">
                            <img src="https://via.placeholder.com/140x280" alt="rightside">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        Weapon:
                        <div class="col-sm col1">
                            <img src="https://via.placeholder.com/140x280" alt="front">
                            <img src="https://via.placeholder.com/140x280" alt="back">
                        </div>
                        <div class="col-sm col2">
                            <img src="https://via.placeholder.com/140x280" alt="leftside">
                            <img src="https://via.placeholder.com/140x280" alt="rightside">
                        </div>
                    </div><br>
                </div>

            </div>
        </div>

        <style>
            .anasuggest img {
                height: auto;
                width: 200px;
            }
        </style>

        <div class="col-sm">
            <div class="card text-center anasuggest" style="width: 19rem;">

                Wig:
                <br>

                <a href='mediumwig'><img src="https://i.ibb.co/PCphFQf/medium1.png" alt="mediumwig"></a>

                Color: Chcolate
                <br>
                <hr>

                Cotton Fabric:
                <br>

                <a href='cotton'><img src="https://i.ibb.co/qJzNt2h/redcotton.png" alt="redcotton"></a>
                Color: Red
                <br>
                <hr>

                Satin Fabric:
                <br>

                <a href='satin'><img src="https://i.ibb.co/KwBH5zn/yellowsatin.png" alt="yellowsatin"></a>
                Color: Yellow
                <br>
                <hr>

                Shoes:
                <br>

                <a href='shoes'><img src="https://via.placeholder.com/200x200" alt="shoes"></a>
                Color: Brown
                <br>
                <hr>

                Accessories:
                <br>

                <a href='accessories'><img src="https://via.placeholder.com/200x200" alt="accessories"></a>
                Color: Assorted
                <br>

            </div>
        </div>
    </div>
</div>

<br>

{% endblock content %}