<div class="card" style="width: 20rem;">
    <div class="card-body">
      <h3>
        Need help? Here's some ideas for your notes:
      </h3>
      <p>
      <ul>
        <li>
          Notes from coaching sessions
        </li>
        <li>
          Things to work on, based on character played
        </li>
        <li>
          Win/Loss ratios
        </li>
        <li>
          VOD codes
        </li>
        <li>
          Anything else useful to your growth as a player!
        </li>
      </ul>
      </p>
    </div>
  </div>

  <style>
        .card {
     border: 5px solid black;
    }
  </style>