<div class="container">
    <div class="row">
        <div class="col-sm">
            <body>
                
            </body>
        </div>

        <div class="col-sm">
            <div class="card o" style="width: 18rem;">
                <img class="card-img-top" src="https://i.ibb.co/gSwhwyS/eva.webp" alt="eva">
        <div class="card-body">
            <h5 class="card-title"> EVA Foam </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="eva" class="btn btn-secondary">Item Page</a>
                    <a href="#" class="btn btn-danger">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card o" style="width: 18rem;">
                <img class="card-img-top" src="https://i.ibb.co/pPxJQ4x/heatgun.webp" alt="heatgun">
        <div class="card-body">
            <h5 class="card-title">Heat Gun</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="heatgun" class="btn btn-secondary">Item Page</a>
                    <a href="#" class="btn btn-danger">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card o" style="width: 18rem;">
                <img class="card-img-top" src="https://i.ibb.co/Jt8cD7t/hatacc.jpg" alt="hatacc">
                <div class="card-body">
                    <h5 class="card-title">Hat Accessories</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="hatacc" class="btn btn-secondary">Item Page</a>
                    <a href="#" class="btn btn-danger">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .o {
        min-height: 500px;
    }
</style>