<div class="container">
    <div class="row">
        <div class="col-sm">
            Colors:
        </div>


        <div class="col-sm">
            <div class="container">
                <div class="row">
                    <div class="card" style="width: 10rem;">
                        <img src="https://i.ibb.co/rdqTK4y/blacksatin.png" alt="blacksatin">
                        <img src="https://i.ibb.co/VVCSDDx/bluesatin.png" alt="bluesatin">
                        <img src="https://i.ibb.co/vPrSWsk/pinksatin.png" alt="pinksatin">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="container">
                <div class="row">
                    <div class="card" style="width: 10rem;">
                        <img src="https://i.ibb.co/fGtQXMz/redsatin.png" alt="redsatin">
                        <img src="https://i.ibb.co/fYj30qL/whitesatin.png" alt="whitesatin">
                        <img src="https://i.ibb.co/KwBH5zn/yellowsatin.png" alt="yellowsatin">
                    </div>
                </div>
            </div>
        </div>



        <div class="col-sm">
            Select Color:
            <select class="form-select" aria-label="Default select example">
                <option selected>Select</option>
                <option value="1">Black</option>
                <option value="2">Blue</option>
                <option value="3">Pink</option>
                <option value="4">Red</option>
                <option value="5">White</option>
                <option value="6">Yellow</option>
            </select>
        </div>
    </div>
</div>