<div class="col-sm">
    <div class="card w" style="width: 18rem;">
        <img class="card-img-top" src="https://i.ibb.co/NjM3xnL/longwig.png" alt="longwig">
        <div class="card-body">
            <h5 class="card-title">Long Wig</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            <a href="longwig" class="btn btn-secondary">Item Page</a>
            <a href="#" class="btn btn-danger">Add to Cart</a>
        </div>
    </div>
</div>
<div class="col-sm">
    <div class="card w" style="width: 18rem;">
        <img class="card-img-top" src="https://i.ibb.co/PCphFQf/medium1.png" alt="mediumwig">
        <div class="card-body">
            <h5 class="card-title">Medium Wig</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            <a href="mediumwig" class="btn btn-secondary">Item Page</a>
            <a href="#" class="btn btn-danger">Add to Cart</a>
        </div>
    </div>
</div>
<div class="col-sm">
    <div class="card w" style="width: 18rem;">
        <img class="card-img-top" src="https://i.ibb.co/s9FhHFp/short1.png" alt="shortwig">
        <div class="card-body">
            <h5 class="card-title">Short Wig</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            <a href="shortwig" class="btn btn-secondary">Item Page</a>
            <a href="#" class="btn btn-danger">Add to Cart</a>
        </div>
    </div>
</div>
</div>
</div>

<style>
    .w {
        min-height: 750px;
    }
</style>